hr { width: 95% }
body { background: #EEEEEE; }
h1, h2, h3, h4 { font-family: arial, helvetica, sans-serif }
code { color: green }
pre { margin-left: 2% }
# p { margin-left:20px }
body { margin-left:20px }
h1 { color: #404; font-size: 175%; margin-left:0px }
h2 { color: #606; margin-left:0px }
h3, h4 { color: #806; margin-left:0px }
ul { list-style-type: square }
